body,
div,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
del,
em,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
details,
figcaption,
hgroup,
menu,
figure,
aside,
canvas,
footer,
header,
nav,
section,
audio,
video,
textarea,
select,
a,
img,
button,
hr {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li,
dl,
dt,
dd {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
em,
strong {
  font-weight: normal;
}

input,
button,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  resize: none;
  border: none;
}

button {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

img {
  border: none;
}

a {
  color: #409EFF;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active,
a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

legend {
  color: #333;
}

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  color: #333;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  *zoom: 1;
}

// 单行溢出隐藏
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 两行溢出隐藏
.two-txt-cut {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
